/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/
$--color-primary: teal;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

#installed-packages {
    .el-table {
        .upgradable-row {
            &,
            &.hover-row,
            &.hover-row > td {
                background-color: rgb(225, 243, 216);
            }
        }

        .newest-row {
            background-color: white;
        }
    }
    .el-table__fixed-body-wrapper {
        top: 60px !important;
    }
    .el-table__fixed-right-patch {
        height: 60px !important;
    }
}

#repository-packages {
    .repository-operations {
        > .el-input-group,
        > .el-input {
            width: unset;
        }

        // text input for searching.
        .search-repository-input > {
            .el-input__inner {
                width: unset;
            }
            .el-input__prefix {
                transform: translateX(154px) !important;
            }
        }

        // dropdown to select search mode.
        .el-select {
            .el-input {
                width: 152px;
            }
            .el-input__inner {
                padding-left: 16px;
            }
        }
    }
}